html,
body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.container-fluid {
    padding: 0;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto Mono',  monospace;
}
p {
    margin: 0;
    font-family: 'IBM Plex Sans', serif;
}
.black-bg {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ededed;
}


/** NAV **/ 
#myNavBar {
    width: 100%; /*get rid off that annoying blank vertical line */
}


/** COVER **/
.jumbotron-fluid {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /*flex-start;*/
    flex-direction: column;
    background-image: url(../imgs/u.jpg);
    background-size: cover;
    /*background-attachment: fixed; -- parallax effect*/
}
.jumbotron-fluid h1 {
    padding: 40px;
}
.jumbotron-fluid p {
    font-family: 'IBM Plex Mono', monospace;
    padding: 25px;
}
.cover-buttons {
    display: flex;
    justify-content: center;
}
.cover-buttons a {
    padding: 10px;
    margin: 0px 10px 0px 10px;
}
.cover-buttons a .fa-github,
.cover-buttons a .fa-code {
    font-size: 30px;
}


/** PROJECTS **/
#projects {
    height: auto;
    background-color: whitesmoke;
}
.projects {
    display: flex;
    flex-direction: column;
}
.description {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description p {
    text-align: center;
    padding: 40px 250px 40px 250px;
}
.project-list {
    padding: 15px 25px 35px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-list h2 {
    padding: 30px;
}
.project-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-block h4 {
    /* position: absolute; */
    padding-bottom: 10px;
    font-size: 17px;
}
.project-block a:hover {
    background-color: black;
}
.thumbnail-img {
    /*position: relative;*/
    max-width: 250px;
    padding-bottom: 20px;
}

/** FOOTER **/
#footer {
    height: auto; 
    background-color: #020202;
}
#footer .row {
    width: 100%;
}
#footer .row .col-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    margin: 0;
    color: whitesmoke;
}
.contact-form {
    padding: 90px;
}
footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
}
footer ul li {
    padding-right: 20px; 
    padding-left: 20px;
}
footer a {
    color: white;
    font-size: 30px;
}
footer .contact-form a,
footer .contact-form p {
    font-family: 'IBM Plex Mono', Courier;
    font-size: 1em;
}
footer .contact-form a {
    font-weight: bold;
}
footer a:hover {
    color: #cdcdcd;
}
.my-links {
    display: flex;
    justify-content: center;
    align-items: center;
}



/**  REPONSIVE 1 **/
@media (max-width: 790px) {
    .container-fluid {
        text-align: center;
    }
    h1, h2, h3, p {
        line-height: 2;
    }
    .description p {
        padding: 10px;
    }
}